.details-container {
    width: 100vw;
    margin-top: 10%;
    margin-bottom: 10%;
}

.each-servicecard {
    width: 80%;
    padding: 5%;
}

.service-review {
    width: 80%;

}

.review-container {
    background-color: gainsboro;
}

@media screen and (max-width: 576px) {

    .details-container {
        width: 90%;
        margin-left: 15%;
    }


}

@media screen and (max-width: 900px) and (min-width: 600px) {
    .details-container {
        width: 100%;

    }
}