.home-container {
    width: 80%;
    margin-left: 10%;

}

.about-container {
    border: 2px solid red;
    border-radius: 5px;
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2%;
    background-color: rgb(118, 0, 0);
    color: white;
    padding: 5%;
}


.services-container {
    width: 100%;
    margin: 10% 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2%;
}

.button-container {
    margin-bottom: 10%;
    margin-left: 45%;
}

.donuts-text {
    text-align: center;
    margin: 10% 0;
}

.special-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2%;
    margin-bottom: 10%;
}