.home-container {
    width: 80%;
    margin-left: 10%;


}

.about-container {
    width: 80%;
    border: 2px solid red;
    border-radius: 5px;
    margin-top: 10%;
    margin-left: 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2%;
    background-color: rgb(118, 0, 0);
    color: white;
    padding: 5%;
}


.services-container {
    width: 80%;
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 10%;

}

.button-container {
    margin-bottom: 10%;
    margin-left: 45%;
}

.donuts-text {
    text-align: center;

}

.special-container {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2%;
    row-gap: 2%;
    margin-bottom: 10%;
    margin-left: 10%;



}

/* for mobile device */
@media screen and (max-width: 576px) {
    .home-container {
        width: 100%;
        margin-left: 0;

    }

    .homebanner-container {
        width: 90%;
        margin-left: 5%;
    }

    .services-container {
        width: 90%;
        margin-bottom: 10%;
        margin-left: 5%;



    }

    .button-container {
        margin-bottom: 10%;
        margin-left: 30%;
    }

    .about-container {
        width: 90%;
        border: 2px solid red;
        border-radius: 5px;
        margin-top: 10%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        background-color: rgb(118, 0, 0);
        color: white;
        padding: 5%;
        margin-left: 5%;
    }

    .special-container {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2%;
        row-gap: 2%;
        margin-bottom: 10%;
        margin-left: 5%;
        padding-bottom: 5%;
    }



    .description-container {
        margin-top: 5%;
    }

}

/* tablet responsive */
@media screen and (min-width: 577px) and (max-width: 900px) {
    .homebanner-container {
        width: 100%;
        margin-left: 0;
    }

    .services-container {
        width: 100%;
        margin-bottom: 10%;
        margin-left: 0;

    }

    .button-container {
        margin-bottom: 10%;
        margin-left: 35%;
    }

    .about-container {
        width: 100%;
        border: 2px solid red;
        border-radius: 5px;
        margin-top: 10%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        background-color: rgb(118, 0, 0);
        color: white;
        padding: 5%;
        margin-left: 0;
    }

    .description-container {
        margin-top: 5%;
    }
}