/* .servicescard {
    height: 50%;

} */



.card-image img {
    width: 100%;
    height: 30vh;
}

@media screen and (min-width: 577px) and (max-width: 900px) {
    .card-image img {
        width: 100%;
        height: 30vh;
    }
}