.allservice {
    width: 100vw;

    padding: 5%;
}



.allservices-container {
    width: 80%;
    margin-left: 10%;
}

@media screen and (max-width: 576px) {
    .allservices-container {
        width: 100%;
        margin-left: 0;
        margin-top: 10%;


    }
}