.reviews-section {
    height: 100vh;
}

.myreviews-container {
    width: 80%;
    height: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    padding: 5%;

}


@media screen and (max-width: 576px) {
    .reviews-section {
        height: 80vh;
        margin-bottom: 10%;
    }

    .myreviews-container {
        width: 70%;
        margin-top: 10%;
    }
}

@media screen and (min-width: 577px) and (max-width: 900px) {
    .reviews-section {
        height: 80vh;
        margin-bottom: 10%;
    }

    .myreviews-container {
        width: 70%;
        height: 80%;
        margin-top: 10%;
        margin-bottom: 0;
        padding: 5%;
        margin-left: 15%;


    }
}